a.out
.DS_Store
*.swp
.vscode/settings.json
*.o
cursus/printf/libftprintf.a
.vscode/c_cpp_properties.json
cursus/push_swap/push_swap
cursus/push_swap/checker
*.a
cursus/fract-ol/fractol
cursus/MiniTalk/server
.gitignore
cursus/MiniTalk/client
cursus/Philosophers/philo/philo
cursus/Philosophers/philo_bonus/philo
cursus/Philosophers/philo_bonus/output.txt
cursus/MiniShell/fractol
42-EXAM
cursus/CCP/module00/ex01/phonebook
cursus/CCP/module00/ex00/megaphone
