[submodule "SuperMiniRT"]
	path = miniRT
	url = https://github.com/DavePie/SuperMiniRT
[submodule "Inception"]
	path = Inception
	url = https://github.com/DavePie/42Inception
[submodule "webserv"]
	path = webserv
	url = https://github.com/Rain36522/webserv
[submodule "transcendence"]
	path = transcendence
	url = https://github.com/Rain36522/transcendence
[submodule "minishell"]
	path = minishell
	url = https://github.com/DavePie/MiniShell
